

# Preprocessing and crossvalidation parameters
## Model independent
train_test_ratio = 0.8
input_length =
number_of_sequences =
output_length =
TRAIN_TEST_RATIO = 0.83                               # 5 years train, 1 year test

## Model dependent
