

# Preprocessing and crossvalidation parameters
## Model independent
N_SEQUENCES_TRAIN = 250     # number_of_sequences_train
OUTPUT_LENGTH = 24          # predict 24 hours
TRAIN_TEST_RATIO = 0.83     # 5 years train, 1 year test
INPUT_LENGTH = 24 * 2       # records every hour (24 hours) x 2 days = 48

## Model dependent
TARGET = 'power'
N_TARGETS = 1
N_FEATURES = 1
